* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    background-color: #FCEFF3;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    height: 80%;
    width: 25%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    /* background-color: aqua; */
    color: white;
    overflow: hidden;
}

.lefttop {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #6BBFF9, #9A8BFF);
}

.lefttop i {
    font-size: 20px;
}

.foot {
    color: black;
    margin: 1.5vw 0;
    padding: 0 10px;
    line-height: 2.3vw;
}

.left img {
    height: 50px;
    border-radius: 50%;
}

.left-mid {
    height: 55%;
    background-color: yellowgreen;
    width: 100%;
    background-image: url(/location.png);
    background-size: cover;
}

.btns {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: center;
    background-color: #6EBD00;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.right {
    height: 80%;
    width: 25%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40%;
    background: linear-gradient(to left, #6BBFF9, #9A8BFF);
}

.middile {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 18px 20px;
    background-color: whitesmoke;
    border-radius: 15px;
    color: rgba(22, 22, 22, 0.5);
    margin-top: 1vw;
}

.box1 i {
    font-size: 25px;
}

.color {
    background-color: #2BD8BE;
    color: white;
}

.top {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.top h3 {
    font-size: 20px;
}

.top p {
    margin-top: 2%;
    font-size: 12px;
}

.top i {
    font-size: 20px;
}

.top1 img {
    margin: 1.2vw 0;
    height: 100px;
    border-radius: 50%;
}

.middile2 {
    color: #6EBD00;
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border-top: 1px solid rgba(138, 135, 135, 0.5);
    border-bottom: 1px solid rgba(138, 135, 135, 0.5);
    ;
}

.middile2 i {
    font-size: 25px;
}

.bottom {
    margin-top: 1vw;
    padding: 0px 25px;
}

.ones {
    margin-top: 1vw;
    display: flex;
    /* align-items: center; */
    gap: 2vw;
    line-height: 2vw;

}

.ones>i {
    font-size: 8px;
    color: #6EBD00;
}

span {
    font-weight: 700;
    color: #34A9F6;
}

b {
    opacity: .5;
    font-size: 15px;
}